

<div class="jumbotron">
  <div class="container" >
    <h1>JPL Citation Discovery</h1>
    <p>“The voyage of discovery is not in seeking new landscapes but in having new eyes."-Proust</p>
    <h2>Xiaohan, Yinyi, Shu, Brian, Rex</h2>
  </div>
</div>
