

<div class="jumbotron">
  <div class="container" >
    <h1>JPL Citation Discovery</h1>
    <p>“The voyage of discovery is not in seeking new landscapes but in having new eyes."-Proust</p>
    <h2>Xiaohan, Yinyi, Shu, Brian, Rex</h2>
  </div>
</div>

<div class="row" >
  <nav class="blue darken-1 col m4 offset-m4">
     <div class="nav-wrapper ">
       <form>
         <div class="input-field">
           <input id="search" type="search" required>
           <label for="search"><i class="material-icons"></i>Search for a title</label>
           <i class="material-icons"></i>
         </div>
       </form>
       <br>
     </div>
   </nav>
 </div>

<div class="row">
   <div class="blue darken-1 waves-effect waves-light btn-large col m1 offset-m7" style="color:white">
     <a class="" ><%= link_to "Search", load_path%></a>
   </div>
 </div>
