

<div class="jumbotron">
  <div class="container" >
    <h1>JPL Citation Discovery</h1>
    <p>“The voyage of discovery is not in seeking new landscapes but in having new eyes."-Proust</p>
    <h2>Xiaohan, Yinyi, Shu, Brian, Rex</h2>
  </div>
</div>

<div class="row" >
  <!-- <nav> -->
     <div class="nav-wrapper col s6 offset-s4">
       <form>
         <div class="input-field">
           <input id="search" type="search" required>
           <label for="search"><i class="material-icons"></i></label>
           <i class="material-icons">x</i>
         </div>
       </form>
     </div>
   <!-- </nav> -->
 </div>
